/* root styles and body background as you have it */
:root {
    --main-color: rgb(233, 238, 240);
    /* type */
}

body {
    background-color: var(--main-color);
}
.schedule-top{
    display: flex;
    justify-content: space-between;
}
.time-right{
    background-color: white;
}
.time-left{
    background-color: white;
}
